@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 0;
    z-index: 1001;
}

header > nav {
    padding: 10px;
    background-color: rgb(36, 35, 35);
}

header > nav > ul > li {
    padding-right: 10px;
    padding-left: 10px;
    color: white
}

header a {
    text-decoration: none;
    color: white;
}

#botao-menu {
    display: none;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #0f172a; /* fundo escuro */
  padding: 16px 32px;
  z-index: 1000;
}

.menu {
  position: relative;
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-link {
  position: relative;
  color: #fff;
  text-decoration: none;
  padding: 8px 4px;
  font-weight: 500;
}

.indicator {
  position: absolute;
  bottom: -6px;
  height: 3px;
  width: 0;
  background: white;
  transition: all 0.3s ease;
  border-radius: 2px;
}

#inicio {
    background-image: url(images/sol-ring-full.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    height: 600px;
    text-align: center;
    color: white;
}

#titulo {
    position: relative;
    top: 200px;
    font-size: 2em;
    text-shadow: 1px 1px black;
}

#imagem {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    height: 600px;
    width: 100%;
}

.img-01 {
    background-image: url(images/aurelia-full.jpg);
}

.img-02 {
    background-image: url(images/anguished-unmaking-full.jpg);
}

.img-03 {
    background-image: url(images/tarkir-full.jpg);
}

section h1, section h2, section p, section ul, section table {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}

section ul {
    list-style-type: disc;
    list-style-position: inside;
}

section li {
    width: fit-content;
}

section li.hover-img:hover {
    text-decoration: underline;
    cursor: default;
}

#oq, #regras, #banidas {
    padding-top: 60px;
    padding-bottom: 80px;
}

#central {
    text-align: center;
    font-size: 1.5em;
}

#overlay {
    position: fixed;
    pointer-events: none;
    display: none;
    z-index: 999;
}

#overlay img {
    width: 220px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0);
}

section table, section th, section td {
    border: 1px solid;
    border-collapse: collapse;
}

section table {
    margin-left: 25%;
    margin-right: 25%;
}

section th, section td {
    padding: 5px;
}

section tr:nth-child(odd) {background-color: rgb(233, 232, 232);}

footer {
    background-color: rgb(36, 35, 35);
    padding: 15px;
}

footer p {
    text-align: center;
    font-size: 0.5em;
    padding-bottom: 2px;
    color: white;
}

@media screen and (max-width: 600px) {
    .navbar {
        padding: 8px 16px;
    }
    
    #botao-menu {
        display: block;
        color: white;
        font-size: 2.5em;
        margin: 1px;
    }
    
    .menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        padding: 8px;
    }

    .menu.open {
        display: flex;
    }

    .indicator {
        display: none;
    }

    .nav-link {
        padding: 2px;
    }

    #inicio, #imagem {
        min-height: 1000px;
    }

    #titulo {
        top: 300px;
    }

    section table {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }
}